<ion-view view-title="Recover Password">
  <ion-content>
    <form ng-submit="doRecovery()">
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-at placeholder-icon"></i>
				<input type="email" ng-model="loginData.username" placeholder="Email">
			</label>
			<label class="item" style="border-bottom: solid 2px #D0D0D0;">
				<button class="button button-block button-positive" type="submit">Recover</button>
			</label>
		</div>
		<div class="list list-inset">
			<a href="#/registration">Don't have an Account?</a>
			<a href="#/login" style="float:right">Login</a>
		</div>
    </form>
  </ion-content>
</ion-view>
